/* ------------------------------------- WORKSET ------------------------------------- */
.workset-item {
  padding: 6px 10px;
  margin-bottom: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
  /* background: #2b2b2b; */
  user-select: none;
}

.workset-item:hover {
  background: #0078d4;
}

.workset-item.active {
  background: #0078d4;
  color: #ffffff;
}